<footer>
    <p>&copy; <a href="{{ .Site.Params.home }}">{{ .Site.Params.author }}</a> {{ .Site.Params.copyright }}</p>
</footer>
<script src="/js/footnotes.js"></script>
<script src="/js/nav-highlight.js"></script>
{{ range .Site.Params.customJS }}
    <script src="{{ . }}"></script>
{{ end }}

<svg width="0" height="0">
  <filter id="pixelate" x="0" y="0">
    <feFlood x="4" y="4" height="2" width="2"/>
    <feComposite width="10" height="10"/>
    <feTile result="a"/>
    <feComposite in="SourceGraphic" in2="a" operator="in"/>
    <feMorphology operator="dilate" radius="5"/>
  </filter>
</svg>
