$text-dark: #222;
$text-light: #eee;
$text-mid: #888;

$link-dark: #262;
$link-visited-dark: #266;
$link-light: #fff;

$bg-dark: #222;
$bg-light: #fff;

$bg-feature-light: #eee;
$bg-feature-dark: #333;

$bg-modal-light: rgba(0, 0, 0, 0.2);
$bg-modal-dark: rgba(255, 240, 250, 0.1);

$bg-button-light: #eee;
$bg-button-dark: #444;

$bg-works-header: rgba(127, 127, 127, 0.2);
$bg-works-body: rgba(127, 127, 127, 0.1);

$shadow-button-light: #222;
$shadow-button-dark: #000;

$shadow-modal-light: rgba(0, 0, 0, 0.5);
$shadow-modal-dark: rgba(255, 255, 255, 0.5);

$border-hard: #333;
$border-soft: rgba(127, 127, 127, 0.5);
$border-callout: rgba(127, 127, 127, 0.2);

$font-headings: 'Gotu', sans-serif;
$font-body: 'Gentium Plus', serif;
