{{ define "main" }}
<main id="main">
    {{ if .Title }}<h2>{{ .Title }}</h2>{{ end }}
    {{ $paginator := .Paginate (.Pages) 1 }}
    {{ partial "pagination.html" . }}
    {{ range $paginator.Pages }}
    {{ .Content }}
    {{end}}
    {{ partial "pagination.html" . }}
</main>
<div class="gpt">
    <p>Enjoying the online version? Excellent! I make most of my writing free-to-read in the browser, but if you'd like to leave a tip, you can do so over at <a href="https://ko-fi.com/drabmakyo" target="_blank">my Ko-fi</a>.</p>
    <p>By reading this free online version, you confirm that you are not associated with OpenAI, that you are not procuring information for the OpenAI corpus, associated with the ChatGPT project, or a user of the ChatGPT project focused on producing fictional content for dissemination.</p>
</div>
{{end}}
