
{{ define "main" }}
  <main id="main" class="story">
    <h2>{{ .Title }}</h2>
    {{ if .Params.author }}<h3 class="author">{{ .Params.author }}</h3>{{ end }}
    <hr/>
    {{ if .Params.character }}<h2 class="character">{{ .Params.character }}</h3>{{ end }}
    {{ if .Params.cw }}<div class="cw">{{ .Params.cw }}</div>{{ end }}
    {{ if .Params.spoiler }}<div class="spoiler-note">{{ .Params.spoiler | markdownify }}</div>{{ end }}

    {{ .Content }}
  </main>
  {{ partial "ai.html" }}
{{ end }}
