<head>
    <title>{{ partial "title/full.html" . }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    {{ range .Site.Params.customCSS }}
        <link rel="stylesheet" type="text/css" href="{{ . }}" />
    {{ end }}
    <meta name="viewport" content="width=device-width" />
    <!-- OpenGraph metadata -->
    <meta property="og:title" content="{{ partial "title/full.html" . }}" />
    <meta property="og:site_name" content="{{ partial "title/short.html" . }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ if .Site.Params.ogimg }}{{ .Site.Params.ogimg | absURL }}{{else}}{{ "/square.png" | absURL }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ if .Site.Params.headline }}{{ .Site.Params.headline }}{{ else }}{{ partial "title/site.html" . }}{{ end }}" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@makyo_writes" />
    <meta name="twitter:title" content="{{ partial "title/full.html" . }}" />
    <meta name="twitter:description" content="{{ if .Site.Params.headline }}{{ .Site.Params.headline }}{{ else }}{{ partial "title/site.html" . }}{{ end }}" />
    <meta name="twitter:image" content="{{ if .Params.ogimg }}{{ .Params.ogimg | absURL }}{{else}}{{ "/square.png" | absURL }}{{ end }}" />

    <!-- JSON-LD metadata -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{ partial "title/full.html" . }}",
            "headline": "{{ if .Site.Params.headline }}{{ .Site.Params.headline }}{{ else }}{{ partial "title/site.html" . }}{{ end }}",
            "url": "{{ .Permalink }}"
        }
    </script>
</head>
