<head>
    <title>{{ partial "title/full.html" }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <meta name="viewport" content="width=device-width" />
    <!-- OpenGraph metadata -->
    <meta property="og:title" content="{{ partial "title/full.html" }}" />
    <meta property="og:site_name" content="{{ partial "title/short.html" }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ "/square.jpg" | absURL }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ partial "title/site.html" }}" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@makyo_writes" />
    <meta name="twitter:title" content="{{ partial "title/full.html" }}" />
    <meta name="twitter:description" content="{{ partial "title/site.html" }}" />
    <meta name="twitter:image" content="{{ "/square.jpg" | absURL }}" />

    <!-- JSON-LD metadata -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{ partial "title/site.html" }}",
            "headline": "{{ partial "title/full.html" }}",
            "url": "{{ .Permalink }}"
        }
    </script>
</head>
